{% set w = data.widget %}

<div class="certificate-block">
  <a href="{{ apos.attachments.url(w.attachment) }}" class="certificate-link" target="_blank">
    {{w.name}}
    <span class="certificate-pdf">
      <img class="certificate-pdf--icon" src="/uploads/attachments/ckhjwtfhw001gycv662vgt661-pngwing-com-1.full.png">
    </span>
  </a>
</div>
