<!--{% import 'navigation.html' as navigation %}-->
{% import 'macros/svgs.html' as svgs %}

{% macro render(home, currentPage, images) %}
  <footer class="c-footer">
    <div class="c-footer__inner">
      <div class="c-footer__nav">

      </div>
      <div><img src="/uploads/attachments/ckgsn9cg60009xkv6sc6kw99r-bai-logo.full.png"></div>
      <div>© BAI, INC. All rights reserved | Designed by ERP.aero</div>
    </div>
  </footer>
{% endmacro %}
