{% import 'navigation.html' as navigation %}

{% macro render(home, currentPage, images) %}
  <div class="c-header {% if currentPage.title === 'Products' or currentPage.title === 'Quality' %} custom-header-product {% else %} custom-header {% endif %}">
    <nav class="c-header__inner" role="navigation">
      {{ navigation.render(home, currentPage, images, { search: true, arrows: true, mobile: true}) }}
    </nav>
  </div>
{% endmacro %}
