{% import 'macros/svgs.html' as svgs %}

{% macro render(home, currentPage, images, options) %}
  {% set paths = apos.helpers.getPaths(apos.helpers._shuffle(images.items[0]._pieces)) %}
  <a href="/">
    {% if currentPage.title === 'Products' or currentPage.title === 'Quality' %}
      <img src="/uploads/attachments/ckh2ogrqc0009p8v64qiyq0ew-logo-1.full.png">
    {% else %}
      <img src="/uploads/attachments/ckgsnm8wq0013xkv6kod326s8-logo-white.full.png">
    {% endif %}
  </a>
  <ul class="c-navigation__items">
    {% for tab in home._children %}
<!--    {% if tab._id == currentPage._id %}-->
<!--    c-navigation__item&#45;&#45;active custom-header&#45;&#45;active-->
<!--    {% endif %}-->
      <li class="c-navigation__item"><a class="o-body c-navigation__link
      {% if currentPage.title === 'Products' or currentPage.title === 'Quality' %} custom-header-product--link {% else %} custom-header--link {% endif %}"
                                        href="{% if tab.title === 'Quality' %} {{ tab.slug }} {% else %} /#{{ tab.slug.slice(1) }} {% endif %}">
        {{ tab.title }}
        </a>
        {% if tab._children.length > 0 and options.arrows %}
          <ul class="o-body c-navigation__item__subnav" aria-label="subnav">
          {% for child in tab._children %}
            <li><a href="{{ child._url }}">{{ child.title }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
        </li>
    {% endfor %}
  </ul>
  {% if options.search %}
    <div class="c-navigation__item">
<!--    <a class="o-icon o-body c-navigation__link-->
<!--    {% if currentPage.title === 'Products' or currentPage.title === 'Qualities' %} custom-header-product&#45;&#45;link {% else %} custom-header&#45;&#45;link {% endif %}" href="/">-->
<!--      {{ svgs.search() }}-->
<!--      <span class="c-navigation__mobile-label" >Search</span>-->
<!--      {% if currentPage.title === 'Products' %}-->
<!--        {{ svgs.search() }}-->
<!--      {% else %}-->
<!--        <img src="/uploads/attachments/ckh0myliy0007lkv66yg5ccvi-search.full.png">-->
<!--      {% endif %}-->
<!--    </a>-->
    </div>
  {% endif %}
  {% if options.mobile %}
    <button class="c-navigation__mobile-trigger" data-mobile-trigger aria-label="Navigation Menu">
      <div class="c-navigation__mobile-trigger__stroke c-navigation__mobile-trigger__stroke--top"></div>
      <div class="c-navigation__mobile-trigger__stroke c-navigation__mobile-trigger__stroke--middle"></div>
      <div class="c-navigation__mobile-trigger__stroke c-navigation__mobile-trigger__stroke--bottom"></div>
    </button>
  {% endif %}
{% endmacro %}



