@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,400i,500,700');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Poppins:wght@300;600&display=swap');

@font-family-display: 'Merriweather', serif;
@font-family-body: 'Roboto', sans-serif;


@font-family-poppins: 'Poppins', sans-serif;
@font-family-exo: 'Exo', sans-serif;

@font-size-title: 5.5rem; // 55px;
@font-size-section-header: 4.5rem; // 45px;
@font-size-headline: 3.6rem; // 36px;
@font-size-subheadline: 2.2rem; // 22px;
@font-size-lede: 2rem; // 20px;
@font-size-body: 1.6rem; // 16px
@font-size-body--small: 1.4rem; // 14px
@font-size-meta: 1.2rem; //12px;
