{% set w = data.widget %}

{% set areaSchema = apos.helpers._find(data.manager.schema, { name: 'body' }) %}

<div class="o-container timeline">
  <div class="timeline-line">

  </div>
  <div class="timeline-block">
    <div class="timeline-date">
      <!--    {{ apos.area(w, 'body', areaSchema.options) }}-->
      {{w.date}}
    </div>
    <div class="timeline-text">
      <span>
        {{w.text}}
      </span>
      <!--    {{ apos.area(w, 'body', areaSchema.options) }}-->
    </div>
    <div class="timeline-space"></div>
  </div>
</div>
