{% set w = data.widget %}
{% set count = w.count/3 %}

<div class="o-container" id="">
  <div class="products-list">
    {% for line in range(0, count) %}
    <div class="products-list-row">
      {% for block in range(0, 3) %}
      <div class="products-list-block">
        {{ apos.area(w, 'category' + (line * 3 + block), {
        widgets: {
          'products-list-category': {}
        }
        }) }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
