.c-location-widget {
  position: relative;
  z-index: 10;
  display: flex;
  height: 660px;
  //border: 1px solid @color-brand-primary;
}

.c-location-widget__addresses-items {
  width: 30%;
  padding: 4rem 5rem;
  border-right: 1px solid @color-brand-primary;
  list-style-type: upper-alpha;
  font-weight: strong;
  p {
    font-weight: normal;
    padding-left: 1rem;
  }
}

.c-location-widget__addresses-item {
  margin-bottom: 2rem;
}

.c-location-widget__map {
  //width: 70%;
  width: 100%;
  //height: 40rem;
}

a.c-location-widget__directions {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: @color-dark;
  padding-bottom: 3px;
  &:hover {
    border-bottom: 1px solid @color-dark;
    padding-bottom: 2px;
  }
}
