.c-marquee {
  background: @color-light
}

.c-marquee__inner {
  height: 0;
  padding-bottom: 55%;
  @media @breakpoint-small {
    padding-bottom: 0;
    height: 100%;
  }
}

.c-marquee__background {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    @media @breakpoint-small {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
  @media @breakpoint-small {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}

.c-marquee__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 2%;
  justify-content: center;
  @media @breakpoint-small {
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    .o-button, .c-link__item {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
}


.c-marquee__content .c-rich-text {
  color: @color-white;
  margin-bottom: 2rem;
  p, div:not([class]) {
    font-size: 2.4rem;
  }
}

.c-marquee--feature .c-marquee__inner {
  padding-bottom: 25%;
  @media @breakpoint-small {
    padding-bottom: 0;
  }
}
