.c-navigation__logo {
  position: relative;
  z-index: 2;
  white-space: nowrap;
}
.c-navigation__logo-mask, .c-navigation__logo{
  color: transparent;
  text-decoration: none;
}

.c-navigation__logo-mask svg {
  max-width: 28px;
  height: 31px;
}

.c-navigation__logo-mask svg image {
  // transition: opacity 0s ease;
  position: absolute;
  // transition-delay: 0;
}

// .c-navigation__logo:hover image {
//   animation: fade 1.2s infinite;
// }

// .c-navigation__logo:hover image:nth-child(3) { animation-delay: 2.8s }
// .c-navigation__logo:hover image:nth-child(4) { animation-delay: 2.4s }
// .c-navigation__logo:hover image:nth-child(5) { animation-delay: 2s }
// .c-navigation__logo:hover image:nth-child(6) { animation-delay: 1.6s }
// .c-navigation__logo:hover image:nth-child(7) { animation-delay: 1.2s }
// .c-navigation__logo:hover image:nth-child(8) { animation-delay: 0.8s }
// .c-navigation__logo:hover image:nth-child(9) { animation-delay: 0.4s }


// @keyframes fade {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }

.c-navigation__items {
  display: flex;
  transition: all 0.3s ease;
}

.c-navigation__item {
  padding: 0 1.5rem;
  @media @breakpoint-mid {
    padding: 0 1%;
  }
}

.c-navigation__item--active .c-navigation__link {
  border-bottom: 1px solid #ffffff61;
}

.c-navigation__link {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  .nav-arrow {
    max-width: 10px;
    margin-left: 5px;
  }
}

.c-header__inner .c-navigation__items {
    @media @breakpoint-medium {
    display: block;
    position: absolute;
    background: @color-white;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 12rem 4rem;
    transform: translateY(-100%);
    height: 100vh;

    .c-navigation__link {
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
  }
}

.s-show-menu .c-navigation__items {
  transform: translateY(-40px);
}

.c-navigation__mobile-label {
  display: none;
  @media @breakpoint-medium {
    display: block;
  }
}

.c-navigation__link svg {
  @media @breakpoint-medium {
    display: none;
  }
}

.c-navigation__item {
  position: relative;
  &:hover .c-navigation__item__subnav {
    top: 60%;
    opacity: 1;
    pointer-events: auto;
  }
}

.c-navigation__item__subnav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: @color-light;
  text-align: center;
  padding: 2rem 0;
  border-radius: 12px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
  opacity: 0;
  pointer-events: none;
  top: 90%;
  margin-top: 20%;
  transition: @transition-ease-in-out;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent @color-light transparent;
  }
  a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    display: block;
    transition: @transition-ease-in-out;
    &:hover {
      background-color: @color-white;
    }
  }
}
