.c-rich-text {
  div:not([class]),
  p:not([class]) {
    font-size: @font-size-body;
    font-family: @font-family-body;
    line-height: 155%;
    //margin-bottom: 2rem;
  }
  ul {
    list-style-type: circle;
  }
  ol, ul {
    margin-left: 2rem;
  }
  ol li, ul li {
    font-size: @font-size-body;
    font-family: @font-family-body;
    line-height: 175%;
    a {
      color: @color-brand-primary;
    }
  }
  .o-body,
  .o-section-header,
  .o-subheadline,
  .o-headline {
    margin-bottom: 2rem;
  }
  blockquote,
  blockquote p:not([class]) {
    .o-pull-quote;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="apostrophe-rich-text"] > .apos-area-widget > .c-rich-text,
.c-area > .apos-area > .apos-area-widget-wrapper > [data-apos-widget="apostrophe-rich-text"] > .c-rich-text {
  max-width: @layout-max-width;
  margin-left: auto;
  margin-right: auto;
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  span {
    max-width: 58rem;
  }
  blockquote,
  blockquote p {
    max-width: 82rem;
  }
}
