.custom {
  &-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    //background: #fff;

    border-bottom: none;
    padding: 0 10rem;
    transition: background 1s ease;
    &--link {
      font-family: @font-family-body;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.7;
    }
    &--active {
      & a {
        opacity: 1;
        border-bottom: 1px solid #ffffff61;
      }
    }
    &--scroll {
      background: #3a70b5;
      padding: 0 10rem;
      .c-header__inner {
        padding: 1.2rem 0;
      }
    }
    &-product {
      background: #F7FAFC;
      border-bottom: none;
      padding: 0 10rem;
      transition: background 1s ease;
      &--link {
        font-family: @font-family-body;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #4D596B;
        opacity: 0.7;
        &:hover {
          color: #3A70B5;
        }
      }
    }
  }
  &-color {
    &-blue {
      color: #3796D3;
    }
  }
}

.timeline {
  display: flex;
  height: auto;
  min-height: 100px;
  //padding: 0 70px;
  &-block {
    flex: 1;
    border-top: 1px solid #E4E6EA;
    display: flex;
    align-items: center;
  }
  &-line {
    width: 150px;
    display: flex;
    align-items: center;

    border-left: 1px solid #E4E6EA;
    position: relative;
    left: 40px;
    &:before {
      content: "";
      position: absolute;
      margin-left: -20px;
      background: #979EA6;
      border-radius: 50%;
      border: 15px solid @color-light;
      padding: 5px;
    }
  }
  &-date {
    flex: 1.6;
    //font-family: @font-family-exo;
    //font-style: normal;
    //font-weight: normal;
    //font-size: 36px;
    //line-height: 46px;
    //color: #3A70B5;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    color: #455A7E;
  }
  &-text {
    flex: 2;
    font-family: @font-family-body;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 26px;
    color: #58667A;
  }
  &-space {
    flex: 1;
  }
}

.contact-us {
  &-container {
    max-width: 150rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &-form {
    height: 600px;
    position: relative;
    top: -200px;
    display: flex;
    &--address {
      flex: 1;
      background: #3A70B5;
      color: #ffffff;
      padding: 80px;
      &-row {
        margin-bottom: 60px;
      }
      &-label {
        font-family: @font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &-text {
        font-family: @font-family-body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
      }
    }
    &--email {
      flex: 2;
      background: #ffffff;
      color: #58667A;
      padding: 80px 100px;
      &-row {
        margin-bottom: 37px;
      }
      &-label {
        font-family: @font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #58667A;
      }
      &-input {
        & input, textarea {
          border:0;
          border-bottom:1px solid #E4E6EA;
          background:transparent;
          width:100%;
          padding:8px 0 5px 0;
          font-size:16px;
          color: #979EA6;
        }
        & input, textarea:focus {
          border:none;
          outline:none;
          border-bottom:1px solid #E4E6EA;
          font-family: @font-family-body;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #979EA6;
          mix-blend-mode: normal;
        }
        & textarea {
          resize: none;
        }
      }
      &-btn {
        padding: 20px 40px;
        background: #3A70B5;
        color: #ffff;
        text-transform: uppercase;
        font-family: @font-family-poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        &:focus {
          outline:none;
        }
      }
    }
  }
}

.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="timeline"],
.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="contact-us"],
.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="columns"]{
  margin-bottom: 0;
}

.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="certificates"]{
  margin-bottom: 3rem;
}

.c-area > .apos-area > .apos-area-widgets > [data-apos-widget-wrapper="timeline"] {
  background: @color-light;
}

.font {
  &-h1 {
    font-size: 5rem;
  }
  &-h3 {
    font-size: 4rem;
  }
  &-h4 {
    font-size: 2rem;
  }
  &-poppins {
    font-family: @font-family-poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 75px
  }
  &-roboto {
    font-family: @font-family-body;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
  }
  &-deep-blue {
    color: #58667A;
  }
  &-dark-moderate-blue {
    color: #455A7E;
  }
  &-dark-blue {
    color: #5882B9;
  }
  &-blue {
    color: #3A70B5;
  }
  &-normal {
    font-weight: 400;
  }
}

.home-products {
  &-header {
    margin-bottom: 100px;
    display: flex;
    &--label {
      flex: 1;
    }
    &--shop {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      font-family: @font-family-poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      align-items: center;
      color: #3A70B5;
    }
    &--arrow {
      margin-left: 10px;
    }
  }
  &-content {

  }
  &-row {
    display: flex;
    margin-bottom: 5px;
    height: 122px;
    &--block {
      flex: 1;
      height: 122px;
      border-top: 1px solid #E4E6EA;
      margin-right: 25px;
      padding-left: 5px;
    }
    &:last-child {
      .home-products-row--block {
        border-bottom: 1px solid #E4E6EA;
      }
    }
  }
  &-item {
    display: flex;
    height: 122px;
    &-img {
      width: 32px;
      display: flex;
      margin-right: 50px;
      align-items: center;
    }
    &-name {
      display: flex;
      align-items: center;
      a {
        font-family: @font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #58667A;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #3A70B5;
          cursor: pointer;
        }
      }
    }
  }
}

.custom-links {
  text-decoration: none;
  color: #3A70B5;
}

.margin-bottom {
  &-small {
    margin-bottom: 7rem;
  }
  &-medium {
    margin-bottom: 10rem;
  }
}

// products list page
.products-list {
  margin-bottom: 150px;
  &-header {
    height: 185px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-row {
    display: flex;
    margin-bottom: 40px;
  }
  &-block {
    flex: 1;
  }
  &-category {
    border-top: 1px solid #E4E6EA;
    padding-top: 40px;
    margin-right: 25px;
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &--icon {
        margin-right: 20px;
      }
      &--name {
        flex: 1;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #58667A;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    &-list {
    }
  }
}

.certificate {
  &-block {
    padding-top: 30px;
    border-top: 1px solid #2929291c;
  }
  &-pdf {
    padding-left: 10px;
    &--icon {

    }
  }
  &-link {
    font-family: @font-family-poppins;
    font-size: 18px;
    text-decoration: none;
    color: #455A7E;
    font-weight: 600;
  }
}
