{% set w = data.widget %}
{% set lines = w.lines %}

<div class="o-container home-products" id="products">
  <div class="home-products-header">
    <div class="font-h1 font-dark-moderate-blue font-poppins home-products-header--label">Products</div>
    <div class="home-products-header--shop">
<!--      <a href="/products" class="custom-links">-->
<!--        Shop <img src="/uploads/attachments/ckgvkhpxk0008b0v674duv32c-combined-shape.full.png" class="home-products-header&#45;&#45;arrow">-->
<!--      </a>-->
    </div>
  </div>
  <div class="home-products-content">
    {% for line in range(0, lines) %}
      <div class="home-products-row">
        {% for block in range(0, 3) %}
          <div class="home-products-row--block">
            {{ apos.area(w, 'block_product_type_' + line + block, {
              widgets: {
                'home-product-item': {}
              },
              limit: 1
            }) }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
