{% import 'macros/image.html' as image %}

<div class="contact-us">
  <div class="c-image">
    {% set imgObj = apos.images.first(data.widget.image) %}
    {{ image.render(imgObj, { description: data.widget.caption }) }}
  </div>
  <div class="contact-us-container contact-us-form" id="contact-us">
    <div class="contact-us-form--address">
      <div class="contact-us-form--address-row">
        <div class="contact-us-form--address-label">OFFICE</div>
        <div class="contact-us-form--address-text">21 Airport Blvd., Suite B South San Francisco,<br>
          CA 94080, USA
        </div>
      </div>
      <div class="contact-us-form--address-row">
        <div class="contact-us-form--address-label">PHONE</div>
        <div class="contact-us-form--address-text">+1-650-872-1700</div>
      </div>
      <div class="contact-us-form--address-row">
        <div class="contact-us-form--address-label">FAX</div>
        <div class="contact-us-form--address-text">+1-650-872-1955</div>
      </div>
      <div class="contact-us-form--address-row">
        <div class="contact-us-form--address-label">EMAIL</div>
        <div class="contact-us-form--address-text">inquiry@bai-inc.com</div>
      </div>
    </div>
    <div class="contact-us-form--email">
      <div class="contact-us-form--email-row">
        <div class="contact-us-form--email-label">NAME</div>
        <div class="contact-us-form--email-input">
          <input type="text">
        </div>
      </div>
      <div class="contact-us-form--email-row">
        <div class="contact-us-form--email-label">EMAIL</div>
        <div class="contact-us-form--email-input">
          <input type="text">
        </div>
      </div>
      <div class="contact-us-form--email-row">
        <div class="contact-us-form--email-label">COMPANY NAME</div>
        <div class="contact-us-form--email-input">
          <input type="text">
        </div>
      </div>
      <div class="contact-us-form--email-row">
        <div class="contact-us-form--email-label">MESSAGE</div>
        <div class="contact-us-form--email-input">
          <textarea type="text" rows="6"></textarea>
        </div>
      </div>
      <div class="contact-us-form--email-row">
        <button class="contact-us-form--email-btn">Submit</button>
      </div>
    </div>
  </div>
</div>
