{% set w = data.widget %}
{% import 'macros/image.html' as image %}

{% set imgObj = apos.images.first(data.widget.image) %}

<div class="products-list-category">
  <div class="products-list-category-header">
    <div class="products-list-category-header--icon">{{ image.render(imgObj) }}</div>
    <div class="products-list-category-header--name">{{w.name}}</div>
  </div>
  <div class="products-list-category-list">
    {{ apos.area(w, 'list', {
      widgets: {
        'apostrophe-rich-text': {
          toolbar: apos.helpers.baseToolbar,
          styles: apos.helpers.baseStyles
        }
      }
    }) }}
  </div>
</div>
