{% extends "layout.html" %}
{% import "macros/masthead.html" as masthead %}
{% import "macros/peer-nav.html" as peerNav %}
{% set page = data.page %}

{% if page.peerNav !== false %}
  {% set wrapper = 'o-container' %}
  {% set widgets = apos.helpers.baseWidgets %}
{% else %}
  {% set wrapper = 'o-wrapper' %}
  {% set widgets = apos.helpers.baseWidgets %}
{% endif %}

{% block main %}
<!--  {% if page.masthead !== false %}-->
<!--    {{ masthead.render(page) }}-->
<!--  {% endif %}-->

  <div class="{{ wrapper }} o-page" id="home">
<!--    {% if page.peerNav !== false %}-->
<!--      {% if page._children.length %}-->
<!--        {{ peerNav.render(page._children, page) }}-->
<!--      {% else %}-->
<!--        {{ peerNav.render(page._ancestors[page._ancestors.length - 1]._children, page) }}-->
<!--      {% endif %}-->
<!--    {% endif %}-->
    <main class="u-small-dropdowns c-area">
      {{ apos.area(data.page, 'body', {
        widgets: widgets
      }) }}
    </main>
  </div>

{% endblock %}
