{% extends 'layout.html' %}
{% import "macros/peer-nav.html" as peerNav %}
{% import "macros/masthead.html" as masthead %}
{% set page = data.page %}

{% if page.peerNav !== false %}
{% set wrapper = 'o-container' %}
{% set widgets = apos.helpers.baseWidgets %}
{% else %}
{% set wrapper = 'o-wrapper' %}
{% set widgets = apos.helpers.baseWidgets %}
{% endif %}

{% block main %}
<div class="o-container">
  <div class="products-list-header">
    <div class="font-dark-moderate-blue font-h1 font-poppins">Quality Certificates</div>
  </div>
  <div>
    <main class="u-small-dropdowns c-area">
      {{ apos.area(data.page, 'body', {
      widgets: {
        'certificates': {}
      }
      }) }}
    </main>
  </div>
</div>
{% endblock %}
