{% set w = data.widget %}
{% import 'macros/image.html' as image %}

{% set imgObj = apos.images.first(data.widget.image) %}

<div class="home-products-item">
  <div class="home-products-item-img">
    {{ image.render(imgObj) }}
  </div>
  <div class="home-products-item-name">
    <a href="/products">{{w.name}} ></a>
  </div>
</div>
