{% import 'macros/image.html' as image %}
{% set w = data.widget %}
{% if w.background %}
  {% set bg = w.background %}
{% endif %}

<div class="{{ bg }}">
  <div class="o-container c-image">
    {% set imgObj = apos.images.first(data.widget.image) %}
    {{ image.render(imgObj, { description: data.widget.caption }) }}
  </div>
</div>
